:root {
  --font-name: "DM Serif Display", serif;
  --coloring: #f36f21;
  --darkcoloring: #000000;
  --size: 15px;
}
body {
  font-family: var(--font-name);
  font-size: var(--size);
  overflow-x: hidden;
}
p {
  color: rgb(68, 68, 68);
}

hr {
  margin-top: 7.5em;
}
.navbar-collapse {
  margin-right: 5vw;
}
.navbar-nav {
  width: 100% !important;
  justify-content: flex-end !important;
  padding: 15px;
}
.nav-item {
  padding: 7px 1.3em 7px 1.3em !important;
  border-radius: 9px;
  margin: 0 0.8em 0 0.8em;
}
.navbar {
  background-color: white !important;
}
.navbar-brand {
  font-size: 1.8em;
  padding-left: 1.2em;
}
.signup {
  background-color: var(--coloring);
}
a {
  color: #000000 !important;
}
.dashboard {
  align-items: center;
  padding: 3em 0 3em 0;
}
.section-height {
  padding-bottom: 6em;
}
.highlight {
  color: var(--coloring);
}
.info {
  text-align: left;
  padding: 3em;
}
.info-heading {
  margin-bottom: 0.5em;
}
.info-content {
  font-size: 1.2em;
  line-height: 1.7em;
  padding-top: 1em;
}
.section {
  margin: 0 20em 0 20em;
}
.sec-image {
  padding-bottom: 5.5em;
}
.btn {
  background-color: var(--coloring);
  font-size: var(--size);
}
.link {
  padding: 0 1.3em 0 1.3em;
}
.input {
  border: 1px solid black;
}
.features {
  display: block;
}
.px {
  padding: 2em 2em 0 2em;
}
.effect-16 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3399ff;
  transition: 0.4s;
}
@media only screen and (max-width: 475px) {
  .dashboard {
    padding: 0;
  }
  .contactus {
    min-width: 90% !important;
    background-color: white !important;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.3);
  }
  .heading {
    padding: 48px 48px 0 48px !important;
  }
  .place {
    order: 2;
  }
  .sign-heading {
    font-size: 1rem;
  }
  .contact-plane {
    max-width: 11em;
    max-height: 7em;
  }
  .placex {
    order: 1;
  }
  .section-height {
    padding-bottom: 0em;
  }
  .contact2 {
    display: none;
  }
  .contact3 {
    display: none;
  }
  .order1 {
    order: 1 !important;
  }
  .order2 {
    order: 2 !important;
  }
  .text-primary {
    font-size: 0.82em !important;
  }
  .dabba {
    height: 90vh !important;
  }
  p {
    font-size: 0.9em !important;
  }
}
.dabba {
  height: 100vh;
}
.padding {
  padding-top: 3em;
}
.icons {
  padding: 0 0.4em 0.4em 0.4em;
}
.react-icons {
  height: 2em;
  width: 2em;
}
.form-control {
  border: 0;
}
.price-card {
  height: 95vh;
  width: 90%;
  border-radius: 20px;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.3);
}
input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
.pricetag {
  color: var(--coloring) !important;
}
.mine {
  max-width: 30em;
}
input:focus {
  outline: none !important;
  border: none;
}
.contact-plane {
  max-width: 16em;
  max-height: 11em;
}

.signINphoto {
  display: flex;
  justify-content: center;
}
.contactus {
  max-width: 55%;
  z-index: 1 !important;
  margin: 0 auto;
  border-radius: 10px;
}
.contact2 {
  z-index: 2 !important;
  position: relative;
  right: 4%;
  bottom: 4%;
  border-radius: 10px;
  box-shadow: -2px -2px 25px rgba(0, 0, 0, 0.3);
}
.contact3 {
  bottom: 101%;
  position: relative;
  right: 2%;
  border-radius: 10px;
}
.active {
  padding-bottom: 3px;
  border-bottom: 2px solid #f36f21;
}
a {
  text-decoration: none !important;
}
.Signuphoto {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .section {
    margin: 0px;
    padding: 30px;
    text-align: left;
  }
  .padding {
    padding-top: 0;
  }
  .signINphoto {
    display: unset;
  }
  .navbar-brand {
    padding-right: 1.3em !important;
    padding-left: 0 !important;
  }
  .price-card {
    height: 100vh !important;
  }
  .head {
    padding: 2em !important;
  }
  .mobile-plane {
    height: 6em !important;
    width: 7em !important;
  }

  .info {
    padding: 30px;
  }
  .sec-image {
    padding-bottom: 1em !important;
  }
  .link {
    padding: 0.4em;
  }
}
@media only screen and (max-width: 768px) {
  .add {
    padding-bottom: 1em;
  }
  .Signuphoto {
    display: block !important;
  }
}
